/* Compass */
@import 'compass/reset';
@import 'compass/css3';

/* Variables */
@import '_variables.scss';

/* Snippets */
@import '_snippets.scss';

/* Mixins */
@import '_mixins.scss';

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* Animations */
@include keyframes('planetA-rotate') {
  0% {
    @include transform3d( rotateY(0deg) rotateZ(0deg) translateZ(60px) );
  }
  100% {
    @include transform3d( rotateY(0deg) rotateZ(-360deg) translateZ(60px) );
  }
}

@include keyframes('planetB-rotate') {
  0% {
    @include transform3d( rotateY(0deg) rotateZ(0deg) translateZ(50px) );
  }
  100% {
    @include transform3d( rotateY(0deg) rotateZ(-360deg) translateZ(50px) );
  }
}

@include keyframes('planet-fix') {
  0% {
    @include transform3d( rotateX(-90deg) rotateY(360deg) rotateZ(0deg) );
  }
  100% {
    @include transform3d( rotateX(-90deg) rotateY(0deg) rotateZ(0deg) );
  }
}


html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $dark;
}

h1 {
  font-size: 2rem;
}

a {
  color: $light;
  text-decoration: none;
}

#container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cosmos {
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 20px;

  li {
    display: block;
    width: 200px;
    height: 30px;
    color: $light;
  }

  a {
    color: rgba($light,.5);

    &:hover {
      color: $light;
      @include transition(color 200ms ease);
    }
  }
}

.solar-system {
  @extend .centered;
  width: 100%;
  height: 100%;
  @include transform-style(preserve-3d);
  @include translate3d(0, 0, 0);
  @include rotateX(75deg);
}

.star {
  @extend .centered;
  width: 120px;
  height: 120px;
  background: $star;
  @include border-radius(50%);
  @include box-shadow(0 0 30px 5px rgba($star,.8));
  @include translate3d(0, 0, 0);
  @include rotateX(-75deg);
}

@include orbit-factory(skills) {
  width: 400px;
  height: 400px;
  @include animation(planetA-rotate 80s linear infinite);
}

@include planet-factory(skills, 40px, 100px, 380px) {
  background: $planetA;
  @include box-shadow(0 0 20px 5px rgba($planetA,.5));
  @include animation(planet-fix 80s linear infinite);
}

@include orbit-factory(community) {
  width: 900px;
  height: 900px;
  @include animation(planetB-rotate 120s linear infinite);
}

@include planet-factory(community, 50px, 0, 530px) {
  background: $planetB;
  @include box-shadow(0 0 15px 5px rgba($planetB,.5));
  @include animation(planet-fix 120s linear infinite);
}
